<ActionBar class="action-bar">
    <!--
    Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Search"></Label>
</ActionBar>

<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <!--
    Use the tkDrawerContent directive to display the content of the app drawer on this page.
    -->
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Search'"></MyDrawer>
    </StackLayout>


    <StackLayout tkMainContent>
        <ScrollView orientation="horizontal" height="9%" verticalAlignment="top">
            <SegmentedBar [items]="myItemss" selectedIndex="0" (selectedIndexChange)="onSelectedIndexChange($event)" class="sgstyle fa m-5"></SegmentedBar>
        </ScrollView>

        <SearchBar [hint]="searchHint" (text)='searchPhrase' (submit)="extractData($event)" color="black" textFieldBackgroundColor="white"
            textFieldHintColor="blue" [keyboardType]="searchKeyboardType" (clear)="onClear($event)"></SearchBar>

        <GridLayout visibility="{{ activityIndicator ? 'visible' : 'collapsed' }}" backgroundColor="white">
            <ActivityIndicator row="1" [busy]="activityIndicator" width="100" height="100" class="activity-indicator"></ActivityIndicator>
        </GridLayout>


        <GridLayout visibility="{{ labelVisibility ? 'visible' : 'collapsed' }}" backgroundColor="white" className="page page-content"
            rows="auto" columns="*">
            <Label class="text-primary font-weight-bold p-l-15 p-y-15 p-b-10 m-r-20" [text]="resultInfo" textwrap="true"></Label>
        </GridLayout>

        <GridLayout class="page page-content" >
            <RadListView [items]="myItems" class="list-group" (itemTap)="onPolicytemTap($event)" loadOnDemandMode="Auto" (loadMoreDataRequested)="onLoadMoreItemsRequested($event)">
                <!--
                RadListView is a UI component part of the Progress NativeScript UI set of components.
                Learn more about the RadListView UI component and how it can be customized in this documentation article:
                http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/ListView/getting-started
                This component is used to display the master list in the master-detail structure.
                -->
                <ng-template tkListItemTemplate let-item="item">
                    <StackLayout class="list-group-item">
                        <GridLayout rows="*, *, *" columns="*, *" class="list-group-item-content">
                            <Label [text]="item[1]" class="text-primary font-weight-bold"></Label>
                            <Label col="1" horizontalAlignment="right" class="list-group-item-text m-r-5">
                                <FormattedString ios:fontFamily="system">
                                    <Span text="&#xf156;   " class="fa text-primary"></Span>
                                    <Span [text]="item[2]"></Span>
                                </FormattedString>
                            </Label>

                            <StackLayout row="1" class="hr-light m-t-5 m-b-5" colSpan="2"></StackLayout>
 
                            <Image row="2" [src]="'res://search/Miscellaneous'" stretch="aspectFill" height="120" class="m-r-20" decodeHeight="120" visibility="{{ item[6] == 'Miscellaneous' ? 'visible' : 'hidden' }}"></Image>
                            <Image row="2" [src]="'res://search/Engineering'" stretch="aspectFill" height="120" class="m-r-20" decodeHeight="120" visibility="{{ item[6] == 'Engineering' ? 'visible' : 'hidden' }}"></Image>
                            <Image row="2" [src]="'res://search/Marine'" stretch="aspectFill" height="120" class="m-r-20" decodeHeight="120" visibility="{{ item[6] == 'Marine' ? 'visible' : 'hidden' }}"></Image>
                            <Image row="2" [src]="'res://search/Motor'" stretch="aspectFill" height="120" class="m-r-20" decodeHeight="120" visibility="{{ item[6] == 'Motor' ? 'visible' : 'hidden' }}"></Image>
                            <Image row="2" [src]="'res://search/fire'" stretch="aspectFill" height="120" class="m-r-20" decodeHeight="120" visibility="{{ item[6] == 'Fire' ? 'visible' : 'hidden' }}"></Image>
                            <StackLayout row="2" col="1" verticalAlignment="center" class="list-group-item-text">
                                <Label class="p-b-10">
                                    <!-- set fontFamily="system" to workaround "Service exited due to Segmentation fault: 11" error -->
                                    <FormattedString ios:fontFamily="system">
                                        <Span text="&#xf27e;   " class="fa text-primary"></Span>
                                        <Span [text]="item[4]"></Span>
                                    </FormattedString>
                                </Label>
                                <Label class="p-b-10">
                                    <!-- set fontFamily="system" to workaround "Service exited due to Segmentation fault: 11" error -->
                                    <FormattedString ios:fontFamily="system">
                                        <Span text="&#xf252;   " class="fa text-primary"></Span>
                                        <Span [text]="item[3]"></Span>
                                    </FormattedString>
                                </Label>
                                <Label>
                                    <!-- set fontFamily="system" to workaround "Service exited due to Segmentation fault: 11" error -->
                                    <FormattedString ios:fontFamily="system">
                                        <Span text="{{ item[5] == 'Individual' ? '&#xf2bd;   ': '&#xf1ad;   ' }}" class="fa text-primary"></Span>
                                        <Span [text]="item[5]"></Span>
                                    </FormattedString>
                                </Label>
                            </StackLayout>
                        </GridLayout>
                    </StackLayout>
                </ng-template>
                <GridLayout *tkListLoadOnDemandTemplate visibility="{{ loadModelVisibility ? 'collapsed' : 'visible' }}" class="loadOnDemandItemGridLayout">
                    <Label [text]="loadMore" horizontalAlignment="center" verticalAlignment="center"></Label>
                </GridLayout>
            </RadListView>
        </GridLayout>
    </StackLayout>

</RadSideDrawer>