@import '../../app-variables';
// Custom styles
.list-group {
  separator-color: transparent;
}

.sgstyle{
  selected-background-color:$accent-dark;
}

.textweight{
  font-family: sans-serif;
  font-weight: 900;
}

.third {
  background-color: #0099CC;
  color: whitesmoke;
  text-align: left;
  vertical-align: center;
}

.header {
  background-color: #8C489F;
  color: whitesmoke;
  border-radius: 3;
}

.footer {
  background-color: #8C489F;
  color: whitesmoke;
  border-radius: 3;
}

.item {
  text-align: left;
  vertical-align: center;
}