<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton android.systemIcon="ic_menu_back">
    </NavigationButton>
    <!--<NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>-->
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <!--    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
            ios.position="left">
        </ActionItem>-->
    <Label class="action-bar-title" text="Policy Details"></Label>
</ActionBar>

<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/SideDrawer/getting-started
The RadSideDrawer component is designed to be used as a root element and
it shouldn't have any other siblings other than the <ActionBar> component.
-->
<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <!--
    Use the tkMainContent directive to display the content of the page when you have an app drawer.
    -->
    <StackLayout tkMainContent>
        <ScrollView orientation="horizontal" height="9%" verticalAlignment="top">
            <SegmentedBar [items]="items" (selectedIndexChange)="onSelectedIndexChange($event)" selectedIndex="0"
                          class="sgstyle fa m-5"></SegmentedBar>
        </ScrollView>
        <scroll-view>
            <GridLayout visibility="{{ activityIndicator ? 'visible' : 'collapsed' }}" backgroundColor="white">
                <ActivityIndicator row="1" [busy]="activityIndicator" width="100" height="100"
                                   class="activity-indicator"></ActivityIndicator>
            </GridLayout>

            <GridLayout [ngSwitch]="visibility">
                <GridLayout *ngSwitchCase="'Personal Details'" rows="*,*,*,*,*,*,*,*,*,*" columns="auto,*"
                            backgroundColor="#FFFFFF">
                    <Label text="Client Name:" row="0" class="m-y-auto text-left text-primary t-20 m-5"></Label>
                    <label [text]="policyInfo[0].clientName" row="0" col="1" textwrap="true"
                               class="m-y-auto text-left text-primary font-weight-bold t-20 m-10"
                               editable="false" height="auto"></label>

                    <Label text="Company:" class="m-y-auto text-left text-primary t-20 m-10" row="1"></Label>
                    <TextView [text]="policyInfo[0].company" row="1" col="1" textwrap="true" editable="false"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                              editable="false"></TextView>

                    <Label text="Phone Number:" class="m-y-auto text-left text-primary t-20 m-10" row="2"></Label>
                    <TextView [text]="policyInfo[0].phoneNumber" row="2" col="1"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10" textwrap="true"
                              editable="false"></TextView>

                    <Label text="2nd Phone Number:" class="m-y-auto text-left text-primary t-20 m-10" row="3"></Label>
                    <TextView [text]="policyInfo[0].secondaryPhoneNumber" row="3" col="1"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10" textwrap="true"
                              editable="false"></TextView>

                    <Label text="Date Of Birth:" class="m-y-auto text-left text-primary t-20 m-10" row="4"></Label>
                    <TextView [text]="policyInfo[0].dob" row="4" col="1"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10" textwrap="true"
                              editable="false"></TextView>

                    <Label text="Email Address:" class="m-y-auto text-left text-primary t-20 m-10" row="5"></Label>
                    <label [text]="policyInfo[0].email" row="5" col="1"
                              class="m-y-auto text-left text-primary font-weight-bold t-20 m-10" textwrap="true"
                              editable="false"></label>

                    <Label text="2nd Email Address:" class="m-y-auto text-left text-primary t-20 m-10" row="6"></Label>
                    <label [text]="policyInfo[0].secondaryEmail" row="6" col="1"
                              class="m-y-auto text-left text-primary font-weight-bold t-20 m-10" textwrap="true"
                              editable="false"></label>

                    <Label text="Gender:" class="m-y-auto text-left text-primary t-20 m-10" row="7"></Label>
                    <TextView [text]="policyInfo[0].gender" row="7" col="1"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10" textwrap="true"
                              editable="false"></TextView>

                    <Label text="Industry:" class="m-y-auto text-left text-primary t-20 m-10" row="8"></Label>
                    <TextView [text]="policyInfo[0].industry" row="8" col="1"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10" textwrap="true"
                              editable="false"></TextView>

                    <Label text="Adress:" class="m-y-auto text-left text-primary t-20 m-10" row="9"></Label>
                    <label [text]="policyInfo[0].address" row="9" col="1"
                              class="m-y-auto text-left text-primary font-weight-bold t-20 m-10" textwrap="true"
                              editable="false" height="auto"></label>
                </GridLayout>

                <GridLayout *ngSwitchCase="'Ins Company Details'" rows="*,*,*,*,*,*,*,*,*,*,*" columns="auto,*"
                            backgroundColor="#FFFFFF">
                    <Label text="Policy Number:" row="1" class="m-y-auto text-left text-primary t-20 m-10"></Label>
                    <TextView [text]="policyInfo[0].policyNumber" row="1" col="1" textwrap="true"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                              editable="false"></TextView>

                    <Label text="ENDRS Number:" class="m-y-auto text-left text-primary t-20 m-10" row="2"></Label>
                    <TextView [text]="policyInfo[0].endrsNumber" row="2" col="1" textwrap="true" editable="false"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                              editable="false"></TextView>

                    <Label text="Policy Start Date:" class="m-y-auto text-left text-primary t-20 m-10" row="3"></Label>
                    <TextView [text]="policyInfo[0].policyStartdate" row="3" col="1"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10" textwrap="true"
                              editable="false"></TextView>

                    <Label text="Policy End Date:" class="m-y-auto text-left text-primary t-20 m-10" row="4"></Label>
                    <TextView [text]="policyInfo[0].policyEndDate" row="4" col="1"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10" textwrap="true"
                              editable="false"></TextView>

                    <Label text="Office Code:" class="m-y-auto text-left text-primary t-20 m-10" row="5"></Label>
                    <TextView [text]="policyInfo[0].officeCode" row="5" col="1"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10" textwrap="true"
                              editable="false"></TextView>

                    <Label text="Ins Company Name:" class="m-y-auto text-left text-primary t-20 m-10" row="6"></Label>
                    <TextView [text]="policyInfo[0].insCompanyName" row="6" col="1"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10" textwrap="true"
                              editable="false"></TextView>

                    <Label text="Source 1:" class="m-y-auto text-left text-primary t-20 m-10" row="7"></Label>
                    <TextView [text]="policyInfo[0].agent" row="7" col="1"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10" textwrap="true"
                              editable="false"></TextView>

                    <Label text="Source 2:" class="m-y-auto text-left text-primary t-20 m-10" row="8"></Label>
                    <TextView [text]="policyInfo[0].source" row="8" col="1"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10" textwrap="true"
                              editable="false"></TextView>

                    <Label text="Policy Details:" class="m-y-auto text-left text-primary t-20 m-10" row="9"></Label>
                    <TextView [text]="policyInfo[0].policyDetails" row="9" col="1"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10" textwrap="true"
                              editable="false"></TextView>

                    <Label text="Ins Branch Name:" class="m-y-auto text-left text-primary t-20 m-10" row="10"></Label>
                    <TextView [text]="policyInfo[0].insBranchName" row="10" col="1"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10" textwrap="true"
                              editable="false"></TextView>
                </GridLayout>

                <GridLayout *ngSwitchCase="'Amount Details'" rows="*,*,*,*,*,*,*,*,*,*,*" columns="auto,*"
                            backgroundColor="#FFFFFF">
                    <Label text="premiumAmount:" row="1" class="m-y-auto text-left text-primary t-20 m-10"></Label>
                    <TextView row="1" col="1" textwrap="true"
                              class="m-y-auto text-left text-primary font-weight-bold t-20 m-10" editable="false">
                        <FormattedString ios:fontFamily="system">
                            <Span text="&#xf156; " class="fa text-primary"></Span>
                            <Span [text]="policyInfo[0].premiumAmount"></Span>
                        </FormattedString>
                    </TextView>

                    <Label text="Terrorism Premium Amount:" class="m-y-auto text-left text-primary t-20 m-10"
                           row="2"></Label>
                    <TextView row="2" col="1" textwrap="true"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10" editable="false">
                        <FormattedString ios:fontFamily="system">
                            <Span text="&#xf156; " class="fa text-primary"></Span>
                            <Span [text]="policyInfo[0].terrorismPremiumAmount"></Span>
                        </FormattedString>
                    </TextView>

                    <Label text="serviceTax % :" class="m-y-auto text-left text-primary t-20 m-10" row="3"></Label>
                    <TextView row="3" col="1" textwrap="true"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10" editable="false">
                        <FormattedString ios:fontFamily="system">
                            <Span [text]="policyInfo[0].serviceTax"></Span>
                            <Span text="%" class="fa text-primary"></Span>
                        </FormattedString>
                    </TextView>

                    <Label text="Service Tax Amount:" class="m-y-auto text-left text-primary t-20 m-10" row="4"></Label>
                    <TextView row="4" col="1" textwrap="true"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10" editable="false">
                        <FormattedString ios:fontFamily="system">
                            <Span text="&#xf156; " class="fa text-primary"></Span>
                            <Span [text]="policyInfo[0].serviceTaxAmount"></Span>
                        </FormattedString>
                    </TextView>

                    <Label text="Total Premium Amount:" class="m-y-auto text-left text-primary t-20 m-10"
                           row="5"></Label>
                    <TextView row="5" col="1" textwrap="true"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10">
                        <FormattedString ios:fontFamily="system">
                            <Span text="&#xf156; " class="fa text-primary"></Span>
                            <Span [text]="policyInfo[0].totalPremiumAmount"></Span>
                        </FormattedString>
                    </TextView>

                    <Label text="commision Rate:" class="m-y-auto text-left text-primary t-20 m-10" row="6"></Label>
                    <TextView row="6" col="1" textwrap="true"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10" editable="false">
                        <FormattedString ios:fontFamily="system">
                            <Span [text]="policyInfo[0].commionRate"></Span>
                            <Span text="%" class="fa text-primary"></Span>
                        </FormattedString>
                    </TextView>

                    <Label text="Commision Rate Amount:" class="m-y-auto text-left text-primary t-20 m-10"
                           row="7"></Label>
                    <TextView row="7" col="1" textwrap="true"
                              class="m-y-auto text-center text-primary font-weight-bold t-20" editable="false">
                        <FormattedString ios:fontFamily="system">
                            <Span text="&#xf156; " class="fa text-primary"></Span>
                            <Span [text]="policyInfo[0].commionRateAmount"></Span>
                        </FormattedString>
                    </TextView>

                    <Label text="Collection Date:" class="m-y-auto text-left text-primary t-20 m-10" row="8"></Label>
                    <TextView text="{{policyInfo[0].collectionDate}}" row="8" col="1"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10" textwrap="true"
                              editable="false"></TextView>
                </GridLayout>


                <GridLayout class="page" *ngSwitchCase="'Policy Details'">

                    <GridLayout row="1" [ngSwitch]="policyType">
                        <GridLayout *ngSwitchCase="'Fire'" rows="*,*,*,*" columns="auto,*" backgroundColor="#FFFFFF">
                            <Label text="Type of Policy:" row="0"
                                   class="m-y-auto text-left text-primary t-20 m-10"></Label>
                            <TextView [text]="policyInfo[0].fireTypeOfPolicy" row="0" col="1" textwrap="true"
                                      class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                                      editable="false"></TextView>

                            <Label text="Basic Rate:" class="m-y-auto text-left text-primary t-20 m-10" row="1"></Label>
                            <TextView [text]="policyInfo[0].basicRate" row="1" col="1" textwrap="true" editable="false"
                                      class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                                      editable="false"></TextView>

                            <Label text="Earth Quake Premium:" class="m-y-auto text-left text-primary t-20 m-10"
                                   row="2"></Label>
                            <TextView [text]="policyInfo[0].earthQuakePremium" row="2" col="1"
                                      class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                                      textwrap="true" editable="false"></TextView>

                            <Label text="Any Additional Premium:" class="m-y-auto text-left text-primary t-20 m-10"
                                   row="3"></Label>
                            <TextView [text]="policyInfo[0].anyAdditionalPremium" row="3" col="1"
                                      class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                                      textwrap="true" editable="false"></TextView>
                        </GridLayout>
                        <GridLayout *ngSwitchCase="'Motor'" rows="*,*,*,*,*" columns="auto,*" backgroundColor="#FFFFFF">
                            <Label text="Vehicle No:" row="0" class="p-l-15 p-b-10 m-r-20 text-primary"></Label>
                            <TextView [text]="policyInfo[0].vehicleNumber" row="0" col="1" textwrap="true"
                                      class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                                      editable="false"></TextView>

                            <Label text="IDV:" class="m-y-auto text-left text-primary t-20 m-10" row="1"></Label>
                            <TextView [text]="policyInfo[0].iDV" row="1" col="1" textwrap="true" editable="false"
                                      class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                                      editable="false"></TextView>

                            <Label text="Vehicle Make:" class="m-y-auto text-left text-primary t-20 m-10"
                                   row="2"></Label>
                            <TextView [text]="policyInfo[0].vehicleMake" row="2" col="1"
                                      class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                                      textwrap="true" editable="false"></TextView>

                            <Label text="Year Of Manufacturing:" class="m-y-auto text-left text-primary t-20 m-10"
                                   row="3"></Label>
                            <TextView [text]="policyInfo[0].vehicleManufactureYear" row="3" col="1"
                                      class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                                      textwrap="true" editable="false"></TextView>

                            <Label text="NBC:" class="m-y-auto text-left text-primary t-20 m-10" row="4"></Label>
                            <TextView [text]="policyInfo[0].nBC" row="4" col="1"
                                      class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                                      textwrap="true" editable="false"></TextView>
                        </GridLayout>
                        <GridLayout *ngSwitchCase="'Marine'" rows="*,*,*,*,*,*" columns="auto,*"
                                    backgroundColor="#FFFFFF">
                            <Label text="Type of Policy:" row="0" class="p-l-15 p-b-10 m-r-20 text-primary"></Label>
                            <TextView [text]="policyInfo[0].marineTypeOfPolicy" row="0" col="1" textwrap="true"
                                      class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                                      editable="false"></TextView>

                            <Label text="Open Policy:" class="m-y-auto text-left text-primary t-20 m-10"
                                   row="1"></Label>
                            <TextView [text]="policyInfo[0].marineOpenPolicy" row="1" col="1" textwrap="true"
                                      editable="false"
                                      class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                                      editable="false"></TextView>

                            <Label text="Open Cover:" class="m-y-auto text-left text-primary t-20 m-10" row="2"></Label>
                            <TextView [text]="policyInfo[0].marineOpenCover" row="2" col="1"
                                      class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                                      textwrap="true" editable="false"></TextView>

                            <Label text="YOther Policies:" class="m-y-auto text-left text-primary t-20 m-10"
                                   row="3"></Label>
                            <TextView [text]="policyInfo[0].marineOtherPolicies" row="3" col="1"
                                      class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                                      textwrap="true" editable="false"></TextView>

                            <Label text="Voyage From:" class="m-y-auto text-left text-primary t-20 m-10"
                                   row="4"></Label>
                            <TextView [text]="policyInfo[0].marineVoyageFrom" row="4" col="1"
                                      class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                                      textwrap="true" editable="false"></TextView>

                            <Label text="Voyage To:" class="m-y-auto text-left text-primary t-20 m-10" row="5"></Label>
                            <TextView [text]="policyInfo[0].marineVoyageTo" row="5" col="1"
                                      class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                                      textwrap="true" editable="false"></TextView>
                        </GridLayout>
                        <GridLayout *ngSwitchCase="'Miscellaneous'" rows="*,*,*" columns="auto,*"
                                    backgroundColor="#FFFFFF">
                            <Label text="Type of Policy:" row="0" class="p-l-15 p-b-10 m-r-20 text-primary"></Label>
                            <TextView [text]="policyInfo[0].miscTypeOfPolicy" row="0" col="1" textwrap="true"
                                      class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                                      editable="false"></TextView>

                            <Label text="ID Card:" class="m-y-auto text-left text-primary t-20 m-10" row="1"></Label>
                            <TextView [text]="policyInfo[0].miscIdCard" row="1" col="1" textwrap="true" editable="false"
                                      class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                                      editable="false"></TextView>

                            <Label text="Dispatch Date:" class="m-y-auto text-left text-primary t-20 m-10"
                                   row="2"></Label>
                            <TextView [text]="policyInfo[0].miscDispatchDate" row="2" col="1"
                                      class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                                      textwrap="true" editable="false"></TextView>

                        </GridLayout>
                        <GridLayout *ngSwitchCase="'Engineering'" rows="*" columns="auto,*" backgroundColor="#FFFFFF">
                            <Label text="Sum Insured:" row="0" class="p-l-15 p-b-10 m-r-20 text-primary"></Label>
                            <TextView [text]="policyInfo[0].sumInsured" row="0" col="1" textwrap="true"
                                      class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                                      editable="false"></TextView>
                        </GridLayout>
                    </GridLayout>
                </GridLayout>

                <GridLayout rows="*" *ngSwitchCase="'Documents'">
                    <ListView [items]="dataItems" (itemTap)="onItemTap($event)"
                              (setupItemView)="onSetupItemView($event)" class="list-group">
                        <ng-template let-dataitem="item" let-i="index">
                            <GridLayout class="list-group-item">
                                <Label [text]="dataitem.fileName" android:class="label-item"></Label>
                            </GridLayout>
                        </ng-template>
                    </ListView>
                </GridLayout>

                <GridLayout *ngSwitchCase="'Renewal Details'" rows="*,*,*" columns="auto,*" backgroundColor="#FFFFFF">
                    <Label text="Renewal Amount:" row="1" class="p-l-15 p-b-10 m-r-20 text-primary"></Label>
                    <TextView row="1" col="1" textwrap="true"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10" editable="false">
                        <FormattedString ios:fontFamily="system">
                            <Span text="&#xf156; " class="fa text-primary"></Span>
                            <Span [text]="policyInfo[0].renewalAmount"></Span>
                        </FormattedString>
                    </TextView>

                    <Label text="Renewal Company:" class="m-y-auto text-left text-primary t-20 m-10" row="2"></Label>
                    <TextView row="2" col="1" textwrap="true"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                              [text]="policyInfo[0].renewalCompany" editable="false"></TextView>
                </GridLayout>
            </GridLayout>
        </scroll-view>
    </StackLayout>
</RadSideDrawer>