<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton android.systemIcon="ic_menu_back">
    </NavigationButton>
    <!--<NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>-->
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <!--    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
            ios.position="left">
        </ActionItem>-->
    <Label class="action-bar-title" text="Policy Details"></Label>
</ActionBar>

<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/SideDrawer/getting-started
The RadSideDrawer component is designed to be used as a root element and
it shouldn't have any other siblings other than the <ActionBar> component.
-->
<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <!--
    Use the tkMainContent directive to display the content of the page when you have an app drawer.
    -->
    <StackLayout tkMainContent>
        <ScrollView orientation="horizontal" height="9%" verticalAlignment="top">
            <SegmentedBar [items]="items" (selectedIndexChange)="onSelectedIndexChange($event)" selectedIndex="0"
                          class="sgstyle fa m-5"></SegmentedBar>
        </ScrollView>
        <scroll-view>
            <GridLayout visibility="{{ activityIndicator ? 'visible' : 'collapsed' }}" backgroundColor="white">
                <ActivityIndicator row="1" [busy]="activityIndicator" width="100" height="100"
                                   class="activity-indicator"></ActivityIndicator>
            </GridLayout>

            <GridLayout [ngSwitch]="visibility">
                <GridLayout *ngSwitchCase="'Personal Details'" rows="*,*,*,*,*,*,*,*,*,*" columns="auto,*"
                            backgroundColor="#FFFFFF">
                    <Label text="Client Name:" row="0" class="m-y-auto text-left text-primary t-20 m-5"></Label>
                    <label [text]="policyInfo[2]" row="0" col="1" textwrap="true"
                               class="m-y-auto text-left text-primary font-weight-bold t-20 m-10"
                               editable="false" height="auto"></label>

                    <Label text="Company:" class="m-y-auto text-left text-primary t-20 m-10" row="1"></Label>
                    <textview [text]="policyInfo[44]" row="1" col="1" textwrap="true" editable="false"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                              editable="false"></textview>

                    <Label text="Phone Number:" class="m-y-auto text-left text-primary t-20 m-10" row="2"></Label>
                    <label [text]="policyInfo[40]" row="2" col="1"
                              class="m-y-auto text-left text-primary font-weight-bold t-20 m-10" textwrap="true"
                              editable="false" height="auto"></label>

                    <Label text="2nd Phone Number:" class="m-y-auto text-left text-primary t-20 m-10" row="3"></Label>
                    <label [text]="policyInfo[41]" row="3" col="1"
                              class="m-y-auto text-left text-primary font-weight-bold t-20 m-10" textwrap="true"
                              editable="false" height="auto"></label>

                    <Label text="Date Of Birth:" class="m-y-auto text-left text-primary t-20 m-10" row="4"></Label>
                    <textview [text]="policyInfo[46]" row="4" col="1"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10" textwrap="true"
                              editable="false"></textview>

                    <Label text="Email Address:" class="m-y-auto text-left text-primary t-20 m-10" row="5"></Label>
                    <label [text]="policyInfo[42]" row="5" col="1"
                              class="m-y-auto text-left text-primary font-weight-bold t-20 m-10" textwrap="true"
                              editable="false"></label>

                    <Label text="2nd Email Address:" class="m-y-auto text-left text-primary t-20 m-10" row="6"></Label>
                    <label [text]="policyInfo[43]" row="6" col="1"
                              class="m-y-auto text-left text-primary font-weight-bold t-20 m-10" textwrap="true"
                              editable="false"></label>

                    <Label text="Gender:" class="m-y-auto text-left text-primary t-20 m-10" row="7"></Label>
                    <textview [text]="policyInfo[45]" row="7" col="1"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10" textwrap="true"
                              editable="false"></textview>

                    <Label text="Industry:" class="m-y-auto text-left text-primary t-20 m-10" row="8"></Label>
                    <textview [text]="policyInfo[4]" row="8" col="1"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10" textwrap="true"
                              editable="false"></textview>

                    <Label text="Adress:" class="m-y-auto text-left text-primary t-20 m-10" row="9"></Label>
                    <label [text]="policyInfo[3]" row="9" col="1"
                              class="m-y-auto text-left text-primary font-weight-bold t-20 m-10" textwrap="true"
                              editable="false" height="auto"></label>
                </GridLayout>

                <GridLayout *ngSwitchCase="'Ins Company Details'" rows="*,*,*,*,*,*,*,*,*,*,*" columns="auto,*"
                            backgroundColor="#FFFFFF">
                    <Label text="Policy Number:" row="1" class="m-y-auto text-left text-primary t-20 m-10"></Label>
                    <textview [text]="policyInfo[5]" row="1" col="1" textwrap="true"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                              editable="false"></textview>

                    <Label text="ENDRS Number:" class="m-y-auto text-left text-primary t-20 m-10" row="2"></Label>
                    <textview [text]="policyInfo[6]" row="2" col="1" textwrap="true" editable="false"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                              editable="false"></textview>

                    <Label text="Policy Start Date:" class="m-y-auto text-left text-primary t-20 m-10" row="3"></Label>
                    <textview [text]="policyInfo[8]" row="3" col="1"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10" textwrap="true"
                              editable="false"></textview>

                    <Label text="Policy End Date:" class="m-y-auto text-left text-primary t-20 m-10" row="4"></Label>
                    <textview [text]="policyInfo[7]" row="4" col="1"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10" textwrap="true"
                              editable="false"></textview>

                    <Label text="Office Code:" class="m-y-auto text-left text-primary t-20 m-10" row="5"></Label>
                    <textview [text]="policyInfo[11]" row="5" col="1"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10" textwrap="true"
                              editable="false"></textview>

                    <Label text="Ins Company Name:" class="m-y-auto text-left text-primary t-20 m-10" row="6"></Label>
                    <textview [text]="policyInfo[0].insCompanyName" row="6" col="1"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10" textwrap="true"
                              editable="false"></textview>

                    <Label text="Source 1:" class="m-y-auto text-left text-primary t-20 m-10" row="7"></Label>
                    <textview [text]="policyInfo[39]" row="7" col="1"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10" textwrap="true"
                              editable="false"></textview>

                    <Label text="Source 2:" class="m-y-auto text-left text-primary t-20 m-10" row="8"></Label>
                    <textview [text]="policyInfo[12]" row="8" col="1"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10" textwrap="true"
                              editable="false"></textview>

                    <Label text="Policy Details:" class="m-y-auto text-left text-primary t-20 m-10" row="9"></Label>
                    <textview [text]="policyInfo[27]" row="9" col="1"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10" textwrap="true"
                              editable="false"></textview>

                    <Label text="Ins Branch Name:" class="m-y-auto text-left text-primary t-20 m-10" row="10"></Label>
                    <textview [text]="policyInfo[10]" row="10" col="1"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10" textwrap="true"
                              editable="false"></textview>
                </GridLayout>

                <GridLayout *ngSwitchCase="'Amount Details'" rows="*,*,*,*,*,*,*,*,*,*,*" columns="auto,*"
                            backgroundColor="#FFFFFF">
                    <Label text="premiumAmount:" row="1" class="m-y-auto text-left text-primary t-20 m-10"></Label>
                    <textview row="1" col="1" textwrap="true"
                              class="m-y-auto text-left text-primary font-weight-bold t-20 m-10" editable="false">
                        <FormattedString ios:fontFamily="system">
                            <Span text="&#xf156; " class="fa text-primary"></Span>
                            <Span [text]="policyInfo[14]"></Span>
                        </FormattedString>
                    </textview>

                    <Label text="Terrorism Premium Amount:" class="m-y-auto text-left text-primary t-20 m-10"
                           row="2"></Label>
                    <textview row="2" col="1" textwrap="true"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10" editable="false">
                        <FormattedString ios:fontFamily="system">
                            <Span text="&#xf156; " class="fa text-primary"></Span>
                            <Span [text]="policyInfo[15]"></Span>
                        </FormattedString>
                    </textview>

                    <Label text="serviceTax % :" class="m-y-auto text-left text-primary t-20 m-10" row="3"></Label>
                    <textview row="3" col="1" textwrap="true"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10" editable="false">
                        <FormattedString ios:fontFamily="system">
                            <Span [text]="policyInfo[16]"></Span>
                            <Span text="%" class="fa text-primary"></Span>
                        </FormattedString>
                    </textview>

                    <Label text="Service Tax Amount:" class="m-y-auto text-left text-primary t-20 m-10" row="4"></Label>
                    <textview row="4" col="1" textwrap="true"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10" editable="false">
                        <FormattedString ios:fontFamily="system">
                            <Span text="&#xf156; " class="fa text-primary"></Span>
                            <Span [text]="policyInfo[17]"></Span>
                        </FormattedString>
                    </textview>

                    <Label text="Total Premium Amount:" class="m-y-auto text-left text-primary t-20 m-10"
                           row="5"></Label>
                    <textview row="5" col="1" textwrap="true"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10">
                        <FormattedString ios:fontFamily="system">
                            <Span text="&#xf156; " class="fa text-primary"></Span>
                            <Span [text]="policyInfo[18]"></Span>
                        </FormattedString>
                    </textview>

                    <Label text="commision Rate:" class="m-y-auto text-left text-primary t-20 m-10" row="6"></Label>
                    <textview row="6" col="1" textwrap="true"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10" editable="false">
                        <FormattedString ios:fontFamily="system">
                            <Span [text]="policyInfo[19]"></Span>
                            <Span text="%" class="fa text-primary"></Span>
                        </FormattedString>
                    </textview>

                    <Label text="Commision Rate Amount:" class="m-y-auto text-left text-primary t-20 m-10"
                           row="7"></Label>
                    <textview row="7" col="1" textwrap="true"
                              class="m-y-auto text-center text-primary font-weight-bold t-20" editable="false">
                        <FormattedString ios:fontFamily="system">
                            <Span text="&#xf156; " class="fa text-primary"></Span>
                            <Span [text]="policyInfo[20]"></Span>
                        </FormattedString>
                    </textview>

                    <Label text="Collection Date:" class="m-y-auto text-left text-primary t-20 m-10" row="8"></Label>
                    <textview text="{{policyInfo[38]}}" row="8" col="1"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10" textwrap="true"
                              editable="false"></textview>
                </GridLayout>


                <GridLayout class="page" *ngSwitchCase="'Policy Details'">

                    <GridLayout row="1" [ngSwitch]="policyType">
                        <GridLayout *ngSwitchCase="'Fire'" rows="*,*,*,*" columns="auto,*" backgroundColor="#FFFFFF">
                            <Label text="Type of Policy:" row="0"
                                   class="m-y-auto text-left text-primary t-20 m-10"></Label>
                            <textview [text]="policyInfo[13]" row="0" col="1" textwrap="true"
                                      class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                                      editable="false"></textview>

                            <Label text="Basic Rate:" class="m-y-auto text-left text-primary t-20 m-10" row="1"></Label>
                            <textview [text]="policyInfo[34]" row="1" col="1" textwrap="true" editable="false"
                                      class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                                      editable="false"></textview>

                            <Label text="Earth Quake Premium:" class="m-y-auto text-left text-primary t-20 m-10"
                                   row="2"></Label>
                            <textview [text]="policyInfo[35]" row="2" col="1"
                                      class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                                      textwrap="true" editable="false"></textview>

                            <Label text="Any Additional Premium:" class="m-y-auto text-left text-primary t-20 m-10"
                                   row="3"></Label>
                            <textview [text]="policyInfo[36]" row="3" col="1"
                                      class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                                      textwrap="true" editable="false"></textview>
                        </GridLayout>
                        <GridLayout *ngSwitchCase="'Motor'" rows="*,*,*,*,*" columns="auto,*" backgroundColor="#FFFFFF">
                            <Label text="Vehicle No:" row="0" class="p-l-15 p-b-10 m-r-20 text-primary"></Label>
                            <textview [text]="policyInfo[21]" row="0" col="1" textwrap="true"
                                      class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                                      editable="false"></textview>

                            <Label text="IDV:" class="m-y-auto text-left text-primary t-20 m-10" row="1"></Label>
                            <textview [text]="policyInfo[22]" row="1" col="1" textwrap="true" editable="false"
                                      class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                                      editable="false"></textview>

                            <Label text="Vehicle Make:" class="m-y-auto text-left text-primary t-20 m-10"
                                   row="2"></Label>
                            <textview [text]="policyInfo[23]" row="2" col="1"
                                      class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                                      textwrap="true" editable="false"></textview>

                            <Label text="Year Of Manufacturing:" class="m-y-auto text-left text-primary t-20 m-10"
                                   row="3"></Label>
                            <textview [text]="policyInfo[24]" row="3" col="1"
                                      class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                                      textwrap="true" editable="false"></textview>

                            <Label text="NBC:" class="m-y-auto text-left text-primary t-20 m-10" row="4"></Label>
                            <textview [text]="policyInfo[25]" row="4" col="1"
                                      class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                                      textwrap="true" editable="false"></textview>
                        </GridLayout>
                        <GridLayout *ngSwitchCase="'Marine'" rows="*,*,*,*,*,*" columns="auto,*"
                                    backgroundColor="#FFFFFF">
                            <Label text="Type of Policy:" row="0" class="p-l-15 p-b-10 m-r-20 text-primary"></Label>
                            <textview [text]="policyInfo[26]" row="0" col="1" textwrap="true"
                                      class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                                      editable="false"></textview>

                            <Label text="Open Policy:" class="m-y-auto text-left text-primary t-20 m-10"
                                   row="1"></Label>
                            <textview [text]="policyInfo[29]" row="1" col="1" textwrap="true"
                                      editable="false"
                                      class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                                      editable="false"></textview>

                            <Label text="Open Cover:" class="m-y-auto text-left text-primary t-20 m-10" row="2"></Label>
                            <textview [text]="policyInfo[30]" row="2" col="1"
                                      class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                                      textwrap="true" editable="false"></textview>

                            <Label text="Other Policies:" class="m-y-auto text-left text-primary t-20 m-10"
                                   row="3"></Label>
                            <textview [text]="policyInfo[31]" row="3" col="1"
                                      class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                                      textwrap="true" editable="false"></textview>

                            <Label text="Voyage From:" class="m-y-auto text-left text-primary t-20 m-10"
                                   row="4"></Label>
                            <textview [text]="policyInfo[32]" row="4" col="1"
                                      class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                                      textwrap="true" editable="false"></textview>

                            <Label text="Voyage To:" class="m-y-auto text-left text-primary t-20 m-10" row="5"></Label>
                            <textview [text]="policyInfo[33]" row="5" col="1"
                                      class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                                      textwrap="true" editable="false"></textview>
                        </GridLayout>
                        <GridLayout *ngSwitchCase="'Miscellaneous'" rows="*,*,*" columns="auto,*"
                                    backgroundColor="#FFFFFF">
                            <Label text="Type of Policy:" row="0" class="p-l-15 p-b-10 m-r-20 text-primary"></Label>
                            <textview [text]="policyInfo[26]" row="0" col="1" textwrap="true"
                                      class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                                      editable="false"></textview>

                            <Label text="ID Card:" class="m-y-auto text-left text-primary t-20 m-10" row="1"></Label>
                            <textview [text]="policyInfo[48]" row="1" col="1" textwrap="true" editable="false"
                                      class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                                      editable="false"></textview>

                            <Label text="Dispatch Date:" class="m-y-auto text-left text-primary t-20 m-10"
                                   row="2"></Label>
                            <textview [text]="policyInfo[47]" row="2" col="1"
                                      class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                                      textwrap="true" editable="false"></textview>

                        </GridLayout>
                        <GridLayout *ngSwitchCase="'Engineering'" rows="*" columns="auto,*" backgroundColor="#FFFFFF">
                            <Label text="Sum Insured:" row="0" class="p-l-15 p-b-10 m-r-20 text-primary"></Label>
                            <textview [text]="policyInfo[37]" row="0" col="1" textwrap="true"
                                      class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                                      editable="false"></textview>
                        </GridLayout>
                    </GridLayout>
                </GridLayout>

                <GridLayout rows="*" *ngSwitchCase="'Documents'">
                    <ListView [items]="dataItems" (itemTap)="onItemTap($event)"
                              (setupItemView)="onSetupItemView($event)" class="list-group">
                        <ng-template let-dataitem="item" let-i="index">
                            <GridLayout class="list-group-item">
                                <Label [text]="dataitem[1]" android:class="label-item"></Label>
                            </GridLayout>
                        </ng-template>
                    </ListView>
                </GridLayout>

                <GridLayout *ngSwitchCase="'Renewal Details'" rows="*,*,*" columns="auto,*" backgroundColor="#FFFFFF">
                    <Label text="Renewal Amount:" row="1" class="p-l-15 p-b-10 m-r-20 text-primary"></Label>
                    <textview row="1" col="1" textwrap="true"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10" editable="false">
                        <FormattedString ios:fontFamily="system">
                            <Span text="&#xf156; " class="fa text-primary"></Span>
                            <Span [text]="policyInfo[53]"></Span>
                        </FormattedString>
                    </textview>

                    <Label text="Renewal Company:" class="m-y-auto text-left text-primary t-20 m-10" row="2"></Label>
                    <textview row="2" col="1" textwrap="true"
                              class="m-y-auto text-center text-primary font-weight-bold t-20 m-10"
                              [text]="policyInfo[54]" editable="false"></textview>
                </GridLayout>
            </GridLayout>
        </scroll-view>
    </StackLayout>
</RadSideDrawer>